{% load staticfiles %}

{% block navbar_blog %}
  <nav>
    <p>Categorias del Blog</p>
    <ul>
      {% for category in categories %}
        <li><a href="{% url 'blog_category_posts' category=category.slug %}">{{ category.name }}</a></li>
        <ul>
          {% for child in category.children.all %}
          <li><a href="{% url 'blog_category_posts' category=child.slug %}">{{ child.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  </nav>
{% endblock %}

<!-- controlar si quedan categorias hijo, bucles anidados, automatico -->
