{% extends "calendar.html" %}
{% load static %}
{% load calendar_tags %}

{% block add_event %}

<!-- Event Information Area -->
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="htc__contact__container">
          <form id="contact-form" method="POST">
            {% csrf_token %}

            <!-- Event Form Area -->
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.title }}
                </div>
            </div>
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.description }}
                </div>
            </div>
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.address }}
                </div>
            </div>
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.year }}
                </div>
            </div>
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.month }}
                </div>
            </div>
            <div class="single-contact-form">
                <div class="contact-box subject">
                    {{ event_form.day }}
                </div>
            </div>
            <div class="contact-btn">
                <input type="submit" class="fv-btn" value="Guardar">
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
