{% load static %}
{% load calendar_tags %}

<!-- Add Event Button -->
<div class="row">
  <div class="col-md-12">
    <div class="filter__menu__container">
      <div class="product__menu">
        <button data-filter="*"  class="is-checked">Todo</button>
        <button data-filter=".cat--1">Deporte</button>
        <button data-filter=".cat--2">Nutrición</button>
        <button data-filter=".cat--3">Salud</button>
      </div>
      <div class="filter__box">
        <a class="calendar__filter__menu" href="#"><span class="ti-search"></span> Añadir Evento</a>
      </div>
    </div>
  </div>
</div>

<!-- Start Add Event Form Area -->
<div class="calendar__filter__wrap">
  <div class="filter__cart">
    <div class="filter__cart__inner">

      <!-- Filter Title-->
      <div class="calendar__filter__menu__close__btn">
        <a href="#"><i class="zmdi zmdi-close"></i></a>
      </div>

      <div class="filter__content">

        <form action="{% url 'calendar:detail_event' event_slug=None %}" method="POST">
          {% csrf_token %}

          <!-- Single Filter -->
          <div class="fiter__content__inner">
            <div class="single__filter">
              <h3>Privacidad</h3>
              {{ event_form.privacity }}
            </div>
          </div>

          <!-- Single Filter -->
          <div class="fiter__content__inner">
            <div class="single__filter">
              <h3>Categoria</h3>
              {{ event_form.type }}
            </div>
          </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            {{ event_form.title }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            {{ event_form.description }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
            <div class="single__filter">
            {{ event_form.address }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            <h3>Día</h3>
            {{ event_form.participant }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            <h3>Inicio</h3>
            {{ event_form.start }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            <h3>Fin</h3>
            {{ event_form.end }}
          </div>
        </div>

        <!-- Single Filter -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            {{ event_form.notes }}
          </div>
        </div>

        <!-- Filter Button -->
        <div class="fiter__content__inner">
          <div class="single__filter">
            <div class="contact-btn">
              <input type="submit" class="fv-btn" value="Añadir">
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
