{% extends "base.html" %}
{% load static %}

{% block calendar %}

<!-- Sport Breadcrumbs Area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Shop Page</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="index.html">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Shop Page</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Sport Features Area -->
<section class="htc__product__area shop__page ptb--130 bg__white">
  <div class="container">
    <div class="htc__product__container">
      <div class="monthly-header">
        <div class="monthly-header-title">
          <a href="#" class="monthly-header-title-date" onclick="return false">jul. 2018</a>
        </div>
        <a href="#" class="monthly-prev"></a>
        <a href="#" class="monthly-next"></a>
      </div>
      <div class="monthly-day-title-wrap">
        <div>lun.</div>
        <div>mar.</div>
        <div>mié.</div>
        <div>jue.</div>
        <div>vie.</div>
        <div>sáb.</div>
        <div>dom.</div>
    </div>
    <div class="monthly-day-wrap">

      <!-- para cada semana -->
      <div class="monthly-week">

        <!-- para dia de la semana -->

        <!-- si existe el dia -->
        <div class="m-d monthly-day monthly-day-event dt2018-06-30" data-number="1">
          <div class="monthly-day-number">1</div>
          <div class="monthly-indicator-wrap"></div>
        </div>

        <!-- si no existe el dia -->
        <div class="m-d monthly-day-blank">
          <div class="monthly-day-number"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<a href="{% url 'calendar:add_event' username=user.username %}">Añadir evento</a>

{% endblock %}
