<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>HealthyLife</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <!-- <img src="http... -->
        <h1>Healthy Life</h1>
        <nav>
            <p>Acceso</p>
            <ul>
                <li><a href="/registro">Registro</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
        <nav>
            <p>Secciones</p>
            <ul>
                <li><a href="/sport">Sport</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
                <li><a href="/health">Health</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/awards">Awards</a></li>
            </ul>
        </nav>
    </header>
    <section>
      <h3>Awards</h3
    </section>
    <footer>
        <p>Creado por: <a href="http://www.preconcebido.com">Preconcebido</a></p>
    </footer>
</body>
