{% load staticfiles %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Barbastro Se Mueve </title>
    <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
  </head>
  <body>

    {% include 'navbar.html' %}
    {% include 'navbar_access.html' %}
    {% include 'search.html' %}

        {% block conocenos %}
        {% endblock %}
        {% block sport_section %}
        {% endblock %}
        {% block nutrition_section %}
        {% endblock %}
        {% block health_section %}
        {% endblock %}

        {% block blog %}
        {% endblock %}

        {% block shop %}
        {% endblock %}

        {% block profile %}
        {% endblock %}

        {% block statistics %}
        {% endblock %}

        {% block awards %}
        {% endblock %}

        {% block legal_information %}
        {% endblock %}

        {% block work_with_our %}
        {% endblock %}

        {% block contact %}
        {% endblock %}

        {% block registration %}
        {% endblock %}

        {% block registration_complete %}
        {% endblock %}

        {% block registration_closed %}
        {% endblock %}

        {% block login %}
        {% endblock %}

        {% block admin %}
        {% endblock %}

        {% block api %}
        {% endblock %}

    {% include 'footer.html' %}

  </body>
</html>
