{% load staticfiles %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Barbastro Se Mueve </title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/design.css%' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    });
    </script>

  </head>
  <body>
      {% include 'navbar.html' %}
      <hr>
      <div class="container">

        {% block home %}
        {% endblock %}

        {% block know_us %}
        {% endblock %}

        {% block sport_section %}
        {% endblock %}

        {% block nutrition_section %}
        {% endblock %}

        {% block health_section %}
        {% endblock %}

        {% block blog %}
        {% endblock %}

        {% block shop %}
        {% endblock %}

        {% block profile %}
        {% endblock %}

        {% block company %}
        {% endblock %}

        {% block statistics %}
        {% endblock %}

        {% block awards %}
        {% endblock %}

        {% block legal_information %}
        {% endblock %}

        {% block work_with_our %}
        {% endblock %}

        {% block contact %}
        {% endblock %}

        {% block registration %}
        {% endblock %}

        {% block registration_complete %}
        {% endblock %}

        {% block registration_closed %}
        {% endblock %}

        {% block login %}
        {% endblock %}

        {% block admin %}
        {% endblock %}

        {% block api %}
        {% endblock %}

        {% block calendar %}
        {% endblock %}
      </div>
    {% include 'footer.html' %}

  </body>
</html>
