<!DOCTYPE html>

{% load staticfiles %}

<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Barbastro Se Mueve </title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    {% include 'header.html' %}

    {% block conocenos %}
    {% endblock %}
    {% block sport_section %}
    {% endblock %}
    {% block nutrition_section %}
    {% endblock %}
    {% block health_section %}
    {% endblock %}
    {% block blog %}
    {% endblock %}
    {% block shop %}
    {% endblock %}
    {% block legal_information %}
    {% endblock %}
    {% block work_with_our %}
    {% endblock %}
    {% block contact %}
    {% endblock %}
    {% block register %}
    {% endblock %}
    {% block login %}
    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
