{% extends "base.html" %}

{% block company %}
    <form method="POST">
      {% csrf_token %}
      {% if user.is_staff %}
        {% if company is None %}
          <input type="button" value="Añadir Tu Empresa" onClick="document.getElementById('company_form').style.visibility='visible'">
          <div id="company_form" style="visibility:hidden">
            <hr>
            <p>Informacion de Empresa</p>
            {{ company_form.as_p }}
            <hr>
            <p>Informacion Bancaria de la Empresa</p>
            {{ bank_information_form.as_p }}
            <hr>
            <p>Direccion de la Empresa</p>
            {{ address_form.as_p }}
          </div>
        {% else %}
          <hr>
          <p>Informacion de Empresa</p>
          {{ company_form.as_p }}
          <hr>
          <p>Informacion Bancaria</p>
          {{ bank_information_form.as_p }}
          <hr>
          <p>Direccion de la Empresa</p>
          {{ address_form.as_p }}
        {% endif %}
      {% endif %}
      <button type="submit">Actualizar</button>
  </form>
{% endblock %}
