{% extends 'base.html' %}
{% load static %}

{% block contact %}

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/bg/2.jpg' %}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Contact US</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="index.html">Home</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Contact US</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<section class="htc__contact__area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="htc__contact__container">

                            <!-- Contact Info Area -->
                            <div class="htc__contact__address">
                                <h2 class="contact__title">Información de Contacto</h2>

                                <!-- Address Info Adress -->
                                <div class="contact__address__inner">
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-location-pin"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p>Location : <br> 77, seventh avenue, Brat road USA.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Phone Info Adress -->
                                <div class="contact__address__inner">
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-mobile"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p> Phone : <br><a href="#">+00 111 222 333 44</a></p>
                                        </div>
                                    </div>
                                  </div>

                                  <!-- Email Info Adress -->
                                  <div class="contact__address__inner">
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-email"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p> Mail :<br><a href="#">yourmail@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Contact Form Area -->
                            <div class="contact-form-wrap">
                                <div class="contact-title">
                                    <h2 class="contact__title">Mándanos un Email</h2>
                                </div>
                                <form id="contact-form" action="" method="POST">
                                  {% csrf_token %}
                                    <div class="single-contact-form">
                                        <div class="contact-box subject">
                                            <!--<input type="text" name="name" placeholder="Your Nme*">
                                            <input type="email" name="email" placeholder="Mail*">-->
                                            {{ contact_form.name }}
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box subject">
                                            <!--<input type="text" name="subject" placeholder="Subject*">-->
                                            {{ contact_form.email }}
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box message">
                                            {{ contact_form.message }}
                                        </div>
                                    </div>
                                    <div class="contact-btn">
                                        <input type="submit" class="fv-btn" value="Enviar">
                                    </div>
                                </form>
                            </div>
                            <!--<div class="form-output">
                                <p class="form-messege"></p>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
                        <div class="map-contacts">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
