<!doctype html>

{% block content %}
    <div class="footer">
      <ul>
        <li>
          <a href="{% url 'api' %}">API</a></p>
        </li>
        <li>
          <a href="{% url 'legal_information' %}">Informacion Legal</a>
        </li>
        <li>
          <a href="{% url 'work_with_our' %}">Trabaja con Nosotros</a>
        </li>
        <li>
          <p>Creado por: <a href="http://www.preconcebido.com" target="_blank">Preconcebido</a></p>
        </li>
        </li>
          <a href="#">Top</a></p>
      </li>
    </div>
{% endblock %}
