{% block content %}
    <header>
        <!-- <img src="http... -->
        <h1><a href="/">Barbastro Se Mueve</a></h1>
        <nav>
            <p>Acceso</p>
            <ul>
              {% if user.is_authenticate %}
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="/">Logout</a></li>
              {% else %}
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="{% url 'register' %}">Registro</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
        </nav>
        {% include 'navbar.html' %}
    </header>
{% endblock %}
