{% extends "base.html" %}
{% load staticfiles %}

{% block home %}

  <p>Ultimos de Posts</p>
  {% for post in last_posts %}
    <p><a href="{% url 'detail_post' post=post.slug %}">{{ post.title }}</a></p>
    <p>{{ post.description }}</p>
    <p><a href="{% url 'blog_category_posts' category=post.category.slug %}">{{ post.category.name }}</a></p>
    <p><a href="{% url 'blog_author_posts' username=post.author.username %}">{{ post.author.username }}</a></p>
    <p>{{ post.creation_date }}</p>
    <p>{{ post.album}}
    <hr>
  {% endfor %}

{% endblock %}
