<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>HealthyLife</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <!-- <img src="http... -->
        <h1><a href="/">Healthy Life</a></h1>
        <nav>
            <p>Acceso</p>
            <ul>
                <li><a href="/register">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
        <nav>
            <p>Secciones</p>
            <ul>
                <li><a href="/sport">Sport</a></li>
                <li><a href="/nutrition">Nutrition</a></li>
                <li><a href="/health">Health</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/awards">Awards</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h3>Busca lo que necistes</h3
        <article>
            <h5>Alimentación</h5>
            <!-- <img src="http... -->
        </articles>
        <article>
            <h5>Actividad Física</h5>
            <!-- <img src="http... -->
        </articles>
            <h5>Salud</h5>
            <!-- <img src="http... -->
        <article>
        </articles>
    </section>
    <footer>
        <p>Creado por: <a href="http://www.preconcebido.com">Preconcebido</a></p>
    </footer>
</body>
