{% extends 'base.html' %}

{% block conocenos %}
  <p>Seccion del Proyecto</p>
  <hr>
  <p>Seccion del Equipo</p>
    {% for item in team %}
      <hr>
      {{ item.username }}
      {{ item.first_name }}
      {{ item.last_name }}
    {% endfor %}
  <hr>
  <p>Seccion de los Colaboradores</p>
    {% for collaborator in collaborators %}
      <hr>
      {{ collaborator.position }}<br>
      {{ collaborator.company }}<br>
      {{ collaborator.education }}<br>
      {{ collaborator.extract }}<br>
      <img src="{{ collaborator.collaborator_image.url }}">
    {% endfor %}
  <hr>
  <p>Seccion de las Empresas</p>
    {% for company in companies %}
      <hr>
      {{ company.company_name }}<br>
      {{ company.description }}<br>
      {{ company.phone }}<br>
      {{ company.web }}<br>
      <img src="{{ company.company_image.url }}">
    {% endfor %}
  <hr>
{% endblock %}
