{% extends 'base.html' %}

{% block know_us %}
  <p>Seccion del Proyecto</p>
  <hr>
  <p>Seccion del Equipo</p>
    {% for item in team %}
      <hr>
      {{ item.username }}
      {{ item.first_name }}
      {{ item.last_name }}
    {% endfor %}
  <hr>
  <p>Seccion de los Colaboradores</p>
    {% for collaborator in collaborators %}
      <hr>
      <a href="{% url 'collaborator' username=collaborator.user.username %}">{{ collaborator.user.username }}</a><br>
      {{ collaborator.position }}<br>
      {{ collaborator.company }}<br>
      {{ collaborator.education }}<br>
      {{ collaborator.extract }}<br>
      <img src="{{ collaborator.collaborator_image.url }}">
    {% endfor %}
  <hr>
  <p>Seccion de las Empresas</p>
    {% for company in companies %}
      <hr>
      <a href="{% url 'company' companyname=company.slug %}">{{ company.company_name }}</a><br>
      {{ company.description }}<br>
      {{ company.phone }}<br>
      {{ company.web }}<br>
      <img src="{{ company.company_image.url }}">
    {% endfor %}
  <hr>

  {% block company %}
  {% endblock %}

  {% block collaborator %}
  {% endblock %}

{% endblock %}
