<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
      <h1>Healthy Life</h1>
      <nav>
          <ul>
            <li><a href="/register">Registro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>
  </header>
  <section>
    <h3>Accede</h3
    <form method="POST" action="">{% csrf_token %}
      {{ login_form.as_p }}
      <input type ="submit" value="Aceptar"/>
    </form>
  </section>
  <footer>
      <p>Creado por:</p>
      <a href="http://www.preconcebido.com">Preconcebido</a>
  </footer>
</body>
