{% load staticfiles %}

  {% now "m" as current_month %}


      <li><a href="https://www.facebook.com/BarbastroSeMueve/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/BarbastroSMueve" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com/barbastrosemueve/" target="_blank">Instagram</a></li>


    {% if user.is_authenticated %}
    <ul>
      <li class"nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'profile' username=user.username %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if user.is_staff %}
          <a class="dropdown-item" href="{% url 'collaborator_profile' username=user.username %}">Colaborador</a>
          <a class="dropdown-item" href="/administracion" target="_blank">Administracion</a>
      {% endif %}
          <a class="dropdown-item" href="{% url 'sport_profile' username=user.username %}">Deporte</a>
          <a class="dropdown-item" href="{% url 'nutrition_profile' username=user.username %}">Nutricion</a>
          <a class="dropdown-item" href="{% url 'health_profile' username=user.username %}">Salud</a>
          <a class="dropdown-item" href="{% url 'awards_profile' username=user.username %}">Premios</a>
          <a class="dropdown-item" href="{% url 'ships' username=user.username %}">Pedidos</a>
          <a class="dropdown-item" href="{% url 'calendar_month' month=current_month username=user.username %}">Calendario</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Desconectar</a>
        </div>
        </li>
      </ul>
    {% else %}
      <li>
        <a href="{% url 'custom_login' %}">Acceder</a>
      </li>
    {% endif %}
  </ul>
