
<p>Acceso</p>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/BarbastroSeMueve/">Facebook</a></li>
      <li><a href="https://twitter.com/BarbastroSMueve">Twitter</a></li>
      <li><a href="https://www.instagram.com/barbastrosemueve/">Instagram</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'profile' username=user.username %}">{{ user.username }}</a></li>
        {% if user.is_staff %}
          <li><a href="/admin">Administracion</a></li>
        {% else %}
          {% include 'navbar_profile.html' %}
        {% endif %}
        <li><a href="{% url 'logout' %}">Desconectar</a></li>
      {% else %}
        <li><a href="{% url 'custom_login' %}">Acceder</a></li>
      {% endif %}
      <li><a href="{% url 'search' %}">Buscar</a></li>
    </ul>
  </nav>
