<!DOCTYPE html>
  <nav>
      <p>Secciones</p>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/conocenos">Conocenos</a></li>
          <ul>
            <li><a href="/proyecto">Proyecto</a></li>
            <li><a href="/equipo">Equipo</a></li>
          </ul>
        <li><a href="/deporte">Deporte</a></li>
        <li><a href="/nutricion">Nutricion</a></li>
        <li><a href="/salud">Salud</a></li>
        <li><a href="/estadisticas">Estadisticas</a></li>
        <li><a href="/premios">Premios</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/tienda">Tienda</a></li>
      </ul>
  </nav>
