{% load static %}

{% now "m" as current_month %}
{% now "Y" as current_year %}
{% now "d" as current_day %}

<header id="header" class="htc-header">

  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header header--2">
    <div class="container">
      <div class="row">

        <!-- Start logo area -->
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
          <div class="logo">
            <!--<a href="{% url 'home' %}">
              <img src="{% static 'images/logo/LetraBarbastroSeMueve_100.jpg' %}" alt="logo">
            </a>-->
          </div>
        </div>

        <!-- Start main menu area -->
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
          <nav class="mainmenu__nav hidden-xs hidden-sm">
            <ul class="main__menu">
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li class="drop"><a href="#">Proyecto</a>
                <ul class="dropdown">
                  <li><a href="{% url 'sportapp:sport' %}">Deporte</a></li>
                  <li><a href="{% url 'nutritionapp:nutrition' %}">Nutricion</a></li>
                  <li><a href="{% url 'healthapp:health' %}">Salud</a></li>
                  <li><a href="{% url 'awards' %}">Premios</a></li>
                </ul>
              </li>
              <li><a href="{% url 'know_us' %}">Conocenos</a></li>
              <li><a href="{% url 'blog:list_post' %}">Blog</a>
                <!--<ul class="dropdown">
                <li><a href="blog.html">blog</a></li>
                <li><a href="blog-details.html">blog details</a></li>
                </ul>-->
              </li>
              <li><a href="{% url 'shop:product_list' %}">Tienda</a>
                <!--<ul class="dropdown mega_dropdown">

                Start Single Mega MEnu
                <li><a class="mega__title" href="shop.html">Shop Pages</a>
                <ul class="mega__item">
                  <li><a href="shop.html">shop</a></li>
                                                  <li><a href="shop-sidebar.html">shop sidebar</a></li>
                                                  <li><a href="cart.html">cart</a></li>
                                                  <li><a href="checkout.html">checkout</a></li>
                                                  <li><a href="wishlist.html">wishlist</a></li>
                                              </ul>
                                          </li>

                                          Start Single Mega MEnu
                                          <li><a class="mega__title" href="shop.html">Variable Product</a>
                                              <ul class="mega__item">
                                                  <li><a href="#">Category</a></li>
                                                  <li><a href="#">My Account</a></li>
                                                  <li><a href="wishlist.html">Wishlist</a></li>
                                                  <li><a href="cart.html">Shopping Carte</a></li>
                                                  <li><a href="checkout.html">Checkout</a></li>
                                              </ul>
                                          </li>

                                          Start Single Mega MEnu
                                          <li><a class="mega__title" href="shop.html">Product Types</a>
                                              <ul class="mega__item">
                                                  <li><a href="#">Simple Product</a></li>
                                                  <li><a href="#">Variable Product</a></li>
                                                  <li><a href="#">Grouped Product</a></li>
                                                  <li><a href="#">Downloadable Product</a></li>
                                                  <li><a href="#">Simple Product</a></li>
                                              </ul>
                                          </li>
                                      </ul>-->
                                    </li>
                                  <!--<li><a href="contact.html">contact</a></li>-->
                              </ul>
                          </nav>

                          <!-- Start Mobile Menu  -->
                          <div class="mobile-menu clearfix visible-xs visible-sm">
                              <nav id="mobile_dropdown">
                                  <ul>
                                      <li><a href="{% url 'home' %}">Inicio</a></li>
                                      <li><a href="{% url 'sportapp:sport' %}">Deporte</a></li>
                                      <li><a href="{% url 'nutritionapp:nutrition' %}">Nutricion</a></li>
                                      <li><a href="{% url 'healthapp:health' %}">Salud</a></li>
                                      <li><a href="{% url 'awards' %}">Premios</a></li>
                                      <li><a href="{% url 'know_us' %}">Conocenos</a></li>
                                      <li><a href="{% url 'blog:list_post' %}">Blog</a></li>
                                      <li><a href="{% url 'shop:product_list' %}">Tienda</a></li>
                                      <li><a href="{% url 'contact' %}">Contacto</a></li>
                                  </ul>
                              </nav>
                          </div>

                      </div>

                      <!-- Profile Icon  -->
                      <div class="col-md-2 col-sm-4 col-xs-3">
                          <ul class="menu-extra">
                              <li class="search search__open"><span class="ti-search"></span></li>
                              <li class="profile__menu"><span class="ti-user"></span></li>
                              <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                              <!--<li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>-->
                          </ul>
                      </div>
                  </div>
                  <div class="mobile-menu-area"></div>
              </div>
          </div>
          <!-- End Mainmenu Area -->
      </header>
