<!DOCTYPE html>

  <nav>
    <ul>
      <li>
        <a href="{% url 'sport' %}">Mi Perfil</a>
      </li>
      <ul>
        <li>
          <a href="{% url 'sport' %}">Deporte</a>
        </li>
        <li>
          <a href="{% url 'nutrition' %}">Nutricion</a>
        </li>
        <li>
          <a href="{% url 'health' %}">Salud</a>
        </li>
        <li>
          <a href="{% url 'statistics' %}">Estadisticas</a>
        </li>
        <li>
          <a href="{% url 'awards' %}">Premios</a>
        </li>
      </ul>
    </ul>
  </nav>
