{% load staticfiles %}

  <nav>
    <ul>
      <li><a href="https://www.facebook.com/BarbastroSeMueve/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/BarbastroSMueve" target="_blank">Twitter</a></li>
      <li><a href="https://www.instagram.com/barbastrosemueve/" target="_blank">Instagram</a></li>
    </ul>

    {% if user.is_authenticated %}
    <ul>
      <li>
        <a href="{% url 'profile' username=user.username %}">{{ user.username }}</a>
      </li>
      {% if user.is_staff %}
        <li>
          <a href="{% url 'company' username=user.username %}">Empresa</a>
        </li>
        <li>
          <a href="/administracion" target="_blank">Administracion</a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'sport_profile' username=user.username %}">Deporte</a>
        </li>
        <li>
          <a href="{% url 'nutrition_profile' username=user.username %}">Nutricion</a>
        </li>
        <li>
          <a href="{% url 'health_profile' username=user.username %}">Salud</a>
        </li>
        <li>
          <a href="{% url 'awards_profile' username=user.username %}">Premios</a>
        </li>
        <li>
          <a href="{% url 'ships' username=user.username %}">Pedidos</a>
        </li>
        <li>
          <a href="{% url 'calendar' username=user.username %}">Calendario</a>
        </li>
      {% endif %}
        <li>
          <a href="{% url 'logout' %}">Desconectar</a>
        </li>
    {% else %}
      <li>
        <a href="{% url 'custom_login' %}">Acceder</a>
      </li>
    {% endif %}
  </ul>
  </nav>
