{% load staticfiles %}

  <nav>
    <a href="{% url 'home' %}">Barbastro Se Mueve</a>
      <ul>
        <li>
          <a href="{% url 'know_us' %}">Conocenos</a>
        </li>
        <li>
          <a href="{% url 'sport' %}">Deporte</a>
        </li>
        <li>
          <a href="{% url 'nutrition' %}">Nutricion</a>
        </li>
        <li>
          <a href="{% url 'health' %}">Salud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shop' %}">Tienda</a>
        </li>
        <li>
          <a href="{% url 'contact' %}">Contacto</a>
        </li>
      </ul>

      {% include 'search.html' %}

      {% include 'navbar_access.html' %}
  </nav>
