{% extends 'base.html' %}
{% load staticfiles %}

{% block profile %}

<form method="POST" enctype=multipart/form-data>
  <hr>
  <p>Informacion personal</p>
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ user_profile_form.bio }}<br>
  {{ user_profile_form.phone }}<br>

  {% for item in user_profile %}
    <img src="{{ item.profile_image.url }}">
    {{ user_profile_form.profile_image }}
  {% endfor %}

  <hr>
  <p>Informacion Bancaria</p>
  {{ bank_information_form.as_p }}
  <hr>
  <p>Direccion</p>
  {{ address_form.as_p }}
  <button type="submit">Actualizar</button>
</form>

{% endblock %}
