{% extends 'base.html' %}

{% block profile %}

<img src="{{ user_profile.image.url }}">

<form method="POST">
  <hr>
  <p>Informacion personal</p>
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ user_profile_form.as_p }}
  <hr>
  <p>Informacion Bancaria</p>
  {{ bank_information_form.as_p }}
  <hr>
  <p>Direccion</p>
  {{ address_form.as_p }}

  {% if not company is None %}
    <hr>
    <p>Informacion de Empresa</p>
    {{ company_form.as_p }}
  {% endif %}
  <button type="submit">Actualizar</button>
</form>

{% endblock %}
