{% extends 'base.html' %}
{% load static %}

{% block profile %}

<!-- Profile Breadcrums Area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static 'images/banner_3.jpg' %}) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Perfil</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="index.html">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Contact US</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Profile Information Area -->
<section class="htc__contact__area ptb--120 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="htc__contact__container">

          <!-- User Information Area -->
          <div class="contact-form-wrap">
            <div class="contact-title">
              <h2 class="contact__title">Información personal</h2>
            </div>

            <form method="POST" action="{% url 'profile' username=user.username %}">
              {% csrf_token %}

              <!-- User Profile Form Area -->
              <div class="single-contact-form">
                <div class="contact-box subject">
                  {{ user_profile_form.bio }}
                </div>
              </div>
              <div class="single-contact-form">
                <div class="contact-box subject">
                  {{ user_profile_form.phone }}
                </div>
              </div>
              <div class="single-contact-form">
                <div class="contact-box subject">
                  {{ user_profile_form.profile_image }}
                </div>
              </div>
              <div class="single-contact-form">
                <div class="contact-box subject">
                  <img src="{{ user_profile.profile_image.url }}">
                </div>
              </div>
              <br>
              <div class="contact-btn">
                <input type="submit" name="user_profile" class="fv-btn" value="Actualizar">
              </div>
            </form>
          </div>
          <br>

          <div class="contact-form-wrap">
              <div class="contact-title">
                <h2 class="contact__title">Información bancaria</h2>
              </div>

              <form method="POST" action="{% url 'profile' username=user.username %}">
                {% csrf_token %}

                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ bank_information_form.bank_name }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ bank_information_form.account }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ bank_information_form.month }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ bank_information_form.year }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ bank_information_form.security_code }}
                  </div>
                </div>
                <br>
                <div class="contact-btn">
                  <input type="submit" name="bank_information" class="fv-btn" value="Actualizar">
                </div>
              </form>
            </div>
            <br>

            <div class="contact-form-wrap">
              <div class="contact-title">
                <h2 class="contact__title">Información de envío</h2>
              </div>

              <form method="POST" action="{% url 'profile' username=user.username %}">
                {% csrf_token %}

                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.address_name }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.city }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.postal_code }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.street }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.number }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.floor }}
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    {{ address_form.door }}
                  </div>
                </div>
                <br>
                <div class="contact-btn">
                  <input type="submit" name="address" class="fv-btn" value="Actualizar">
                </div>
              </form>
            </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
