<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
      <!-- <img src="http... -->
      <h1>Healthy Life</h1>
      <nav>
          <ul>
              <li>Registro</li>
              <li>Login</li>
          </ul>
      </nav>
  </header>
  <section>
    <h3>Registrate</h3
    <form method="POST" action="">{% csrf_token %}
      {{ register_form }}
      <input type ="submit" value="Aceptar"/>
    </form>
  </section>
  <footer>
      <p>Creado por:</p>
      <a href="http://www.preconcebido.com">Preconcebido</a>
  </footer>
</body>
