{% load static %}

{% block slide %}

<div class="slider__container slider--two">
  <div class="slider__activation__wrap--2">

    <!-- Start Single Slide -->
    <div class="slider__full--screen" style="background: rgba(0, 0, 0, 0) url({% static 'images/slide1.jpg' %}) no-repeat scroll center center / cover ;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="slider__content--2 text-center">
              <div class="slider__inner--2 text-center">
                <h1>SLOGAN</h1>
                <div class="slider__btn">
                  <a class="htc__btn" href="cart.html">shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<img class="imgCabecera" src="{% static 'images/slide1.jpg' %}">-->

{% endblock %}
